
img {
   height: 60px;
  }
  
  .nav-theme {
    background-color: #2d2e15f8 !important;
    font-size: 20px;
  }
  
  .animate-navbar {
    box-shadow: 1px 1px 1px #222;
    animation: moveDown 0.5s ease-in-out;
  }
  
  @keyframes moveDown {
    from {
      transform: translateY(-5rem);
    }
    to {
      transform: translateY(0rem);
    }
  }

  @media only screen and (max-width: 769px){
      .ml-auto{
        margin-left: 45% !important
      }
      .nav{
        max-height: 4em;
      }
  }

  .ml-auto{
    color: #f7fc66;
  }

  