
img {
   height: 60px;
  }
  
  .nav-theme {
    background-color: #2d2e15f8 !important;
    font-size: 20px;
  }
  
  .animate-navbar {
    box-shadow: 1px 1px 1px #222;
    animation: moveDown 0.5s ease-in-out;
  }
  
  @keyframes moveDown {
    from {
      transform: translateY(-5rem);

    }
    to {
      transform: translateY(0rem);
    }
  }

  @media only screen and (max-width: 769px){
      .ml-auto{
        display: flex;
        align-items: center;
        width: 100%;
        margin-top: 2px;
        background: linear-gradient(
          0deg
          , rgba(0, 0, 0, 0.808) 0%, rgb(0, 0, 0) 100%)
        
        }
      .nav{
        max-height: 4em;
      }
  }

  