
 
.footer-style {
    background-color: #4747147a;
    color: #fff;
    font-size: 1.5em;
    border: 2px solid #101018f8;
    border-top-left-radius: 3px;
  }

@media only screen and (max-width: 540px){
  .footer-style{
    font-size: 0.8em;
  }
}